[Unit]
Description=Discord bot with OpenAI

[Service]
ExecStart=/home/kazuu/discord_bot_openai/discord_bot_openai.py
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target

